* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Primary website background colour */
body {
    background-color: #d9dcd6;
}
/* Header section */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Position the header list options to the left of the screen and inline */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* This is the paragraph text size */
p {
    font-size: 16px;
}
/* Position and centre the hero in the middle of the screen */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Section elements in the main */
.webpage-applications {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Maximum height of main content images */
.content img {
    max-height: 200px; 
}
/* Heading format for main content */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This is the section image positioning for main content */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* This is the main content positioning on the wepbage */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* This is the aside positioning format for the webpage display */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#2a607c;
}
/* This is the text colour and margin formatting for the section element in the aside section of the webpage */
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}
/* This is the headers for the aside section of the webpage */
.benefits section h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
